<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />

  <style>
    .smtp-form {
      margin: 50px 200px;
    }
  </style>
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
    {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert"></button> {% endcomment %}
  </div>
  {% endfor %}
  {% endif %}
  <div class='smtp-form'>
    <form method="post">
      {% csrf_token %}
      {{ mailForm.as_p }}
      {% comment %} {{ mailForm.to }}
      {{ mailForm.subject }}
      {{ mailForm.message }} {% endcomment %}
      <button type="submit" class="btn btn-primary mt-3" name="send_otp">Send OTP</button>

      <hr>

      {{ form.otp }}
      <button type="submit" class="btn btn-primary mt-3" name="verify_otp">Verify OTP & Send</button>
      {% comment %} {{form.clear_data}} {% endcomment %}
    </form>

    <script>
      setTimeout(() => {
        document.querySelectorAll('.alert').forEach(a => a.+());
      }, 3000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"></script>
</body>

</html>